* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.subscription-section { 
  position: relative;
}

.app-container {

  @include breakpoint(map-get($breakpoints, '-medium'), 'min') {
    margin: 66px auto;
    max-width: 95%;
    height: 800px;
    border-radius: 42.5px;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.13);
    background-color: $white;
    overflow: hidden;
  }
}