.button {
  text-transform: uppercase;
  padding: 18px 20px;
  border-radius: 5.3px;
  border: 0;
  margin-bottom: 10px;
  transition: background-color 250ms ease-in-out 250ms;

  &:hover {
    cursor: pointer;
  }

  &__submit-form {
    background-color: $tiffany-blue;

    @include font-styles(
      $font-size: 16px,
      $font-weight: normal,
      $color: $white
    );

    &:hover {
      background-color: $greeny-blue;
    }
  }

  &__reset-form {
    background-color: $pale-grey;

    @include font-styles(
      $font-size: 16px,
      $font-weight: normal,
      $color: $charcoal-grey
    );

    &:hover {
      background-color: $cloudy-blue;
    }
  }
}