$black: rgb(56, 56, 56);
$pale-grey: rgb(245, 248, 249);
$greeny-blue: rgb(73, 200, 168);
$cloudy-blue-two: rgb(177, 191, 205);
$white: rgb(255, 255, 255);
$tangerine: rgb(255, 146, 0);
$sunflower-yellow: rgb(255, 213, 0);
$cloudy-blue: rgb(202, 215, 221);
$charcoal-grey: rgb(55, 61, 64);
$tiffany-blue: rgb(96, 230, 197);