$grid__size: 12;
$breakpoints: (
  '': 0px, // 
  '-small': 600px,
  '-medium': 960px,
  '-large': 1280px,
  '-xlarge': 1920px
);

.container {
  margin: 0 auto;
  max-width: map-get($breakpoints, '-medium');

  &--fluid {
    max-width: 100%;
    margin: 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @each $screen-name, $screen-size in $breakpoints {
    @include generate-columns($screen-name, $grid__size, $screen-size);
  }
}

@each $screen-name, $screen-size in $breakpoints {
  @if ($screen-name == '') {
    $screen-name: '-xsmall';
  }

  @include breakpoint($screen-size, 'min') {
    .hidden#{$screen-name}-up {
      display: none !important;
    }
  }

  @include breakpoint($screen-size, 'max') {
    .hidden#{$screen-name}-down {
      display: none !important;
    }
  }
}