@mixin breakpoint($breakpoint, $size) {
  @if ($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (#{$size}-width: $breakpoint) {
      @content;
    }
  }
}

@mixin generate-columns($screen-name, $grid-column-size, $screen-size) {
  @include breakpoint($screen-size, 'min') {
    @for $i from 1 through $grid-column-size {
      &__column#{$screen-name}-#{$i} {
        flex-basis: (100 / ($grid-column-size / $i)) * 1%;
      }
    }
  }
}

@mixin font-styles(
  $font-family: null, 
  $font-size: null, 
  $font-stretch: null, 
  $font-style: null, 
  $line-height: null,
  $font-weight: null, 
  $letter-spacing: null, 
  $text-align: null, 
  $color: null
  ) {
  @if ($font-family) {
    font-family: $font-family;
  } @else {
    font-family: $base-font-family;
  }

  @if ($font-size) {
    font-size: $font-size;
  } @else {
    font-size: $base-font-size;
  }

  @if ($font-stretch) {
    font-stretch: $font-stretch;
  } @else {
    font-stretch: $base-font-stretch;
  }

  @if ($font-style) {
    font-style: $font-style;
  } @else {
    font-style: $base-font-style;
  }

  @if ($line-height) {
    line-height: $line-height;
  } @else {
    line-height: $base-line-height;
  }

  @if ($letter-spacing) {
    letter-spacing: $letter-spacing;
  } @else {
    letter-spacing: $base-letter-spacing;
  }

  @if ($text-align) {
    text-align: $text-align;
  } @else {
    text-align: $base-text-align;
  }

  @if ($color) {
    color: $color;
  } @else {
    color: $base-text-color;
  }

  @if ($font-weight) {
    font-weight: $font-weight;
  } @else {
    font-weight: $base-font-weight;
  }
}