$base-font-family: Arial !default;
$base-font-size: 36px !default;
$base-text-color: $black !default;
$base-font-weight: bold !default;
$base-font-style: normal !default;
$base-font-stretch: normal !default;
$base-line-height: normal !default;
$base-text-align: center !default;
$base-letter-spacing: normal !default;

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

p { margin-top: 0; }

label { display: block; margin-bottom: .5rem; font-weight: 600; }

@include breakpoint(map-get($breakpoints, '-small'), 'min') {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}