.form-overlay {
  display: none;
  background-color: $tangerine;
  padding: 70px 20px 106px 20px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  
  &__title {
    margin-bottom: 21px;
    @include font-styles();
  }

  &__content {
    line-height: 1.53;
    @include font-styles(
        $font-size: 18px,
        $font-weight: normal,
        $text-align: left
    );
    
    &--underlined {
      text-decoration: underline;

      @include font-styles(
        $font-size: 18px,
        $text-align: left
      );
    }
  }
}