.intro {
  background-color: $sunflower-yellow; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;

  &__avatar {
    align-self: center;
    max-height: 238px;
    max-width: 238px;
  }

  &__title {
    @include font-styles;
    
    margin-top: 2.583em;
  }
  
  &__subtitle {
    margin-top: 24px;
    margin-left: 27px;
    margin-right: 27px;

    @include font-styles(
      $font-size: 22px, 
      $font-weight: normal, 
      $line-height: 1.26
    );
  }
  
  &__toggle-button {
    align-self: center;
    margin-top: 1.169em;
    transform: rotate(90deg);
    transition: transform 250ms ease-in-out 250ms;;
    
    &--open {
      transform: rotate(-90deg);
    }

    @include breakpoint(map-get($breakpoints, '-medium'), 'min') {
      transform: rotate(0deg);
    }
  }

  // @include breakpoint(map-get($breakpoints, '-medium'), 'min') {
  //   margin-left: 23px;
  //   margin-top: 66px;
  //   margin-bottom: 66px;
  //   border-top-left-radius: 42.5px;
  //   border-bottom-left-radius: 42.5px;
  // }
}