.subscription {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  @include breakpoint(map-get($breakpoints, '-medium'), 'min') {
    padding-left: 32px;
    padding-right: 0;
  }
  &__form {

    &-input {

      &-group {
        padding-bottom: 20px;
      }

      &-label {
        @include font-styles(
          $font-size: 16px,
          $text-align: left,
          $color: $charcoal-grey,
          $font-weight: normal
        );

        @include breakpoint(map-get($breakpoints, '-medium'), 'min') {
          margin-top: 18px;
        }
      }

      &-text {
        padding-top: 17px;
        padding-bottom: 16.5px;
        padding-left: 14.7px;
        width: 100%;
        border-radius: 5.3px;
        border: 0;
        background-color: rgba($pale-grey, 0.3);
        transition: border 250ms ease-in-out 250ms;

        &--validation-error {
          color: $tangerine;
          border-color: $tangerine;
        }

        &--calender-icon-bg {
          background-image: url('../img/calendar-icon-dark.svg');
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position-y: 50%;
          background-position-x: 95%;
        }

        &:focus, &:hover {
          border: solid 1.2px $cloudy-blue;
          outline: 0;
        }
        
        &::placeholder {
          @include font-styles(
            $font-size: 16px,
            $text-align: left,
            $color: $cloudy-blue-two,
            $font-weight: normal
          );
        }

        @include font-styles(
          $font-size: 16px,
          $font-weight: 500,
          $text-align: left,
          $color: $charcoal-grey
        );
      }

      &-radio {
        visibility: hidden;
        position: absolute;

        &--bg {
          background-color: $pale-grey;
          width: 53px;
          height: 53px;
          background-repeat: no-repeat;
          border-radius: 50%;
          background-position-x: 50%;
          background-position-y: 50%;
          float: left;
          transition: border 250ms ease-in-out 250ms;

          &:hover {
            border: solid 1.2px $cloudy-blue-two;
          }          

          &-male {
            background-image: url('../img/male-gender-icon-dark.svg');
            
          }
          
          &-female {
            background-image: url('../img/female-gender-icon-dark.svg');
          }

          &-card {
            background-image: url('../img/card-icon-dark.svg');
          }

        }
      }
    }
    
    &-radio {
      
      &-group {
        display: flex;
      }

      &-label {
        cursor: pointer;
        user-select: none;
        margin-bottom: 0;
        margin-right: 24px;

        &-text {
          padding-left: 22px;
          padding-top: 20px;
          float: left;

          @include font-styles(
            $font-size: 14px,
            $color: $cloudy-blue-two,
            $font-weight: normal,
            $text-align: left
          );
        }
      }
      
    }
    
    &-button {
      &-save {
        @include breakpoint(map-get($breakpoints, '-medium'), 'min') {
          margin-left: 22px;
          width: 158.7px;
        }
      }

      &-cancel {
        @include breakpoint(map-get($breakpoints, '-medium'), 'min') {
          width: 158.7px;
        }
      }

      &-group {
        display: flex;
        flex-direction: column;
        
        @include breakpoint(map-get($breakpoints, '-medium'), 'min') {
          flex-direction: row;
          justify-content: flex-end;
        }

      }

    }
  }
}